{% extends "base.html" %}
{% block main %}

<div class="container mt-5 mb-5">

    <div class="text-center mb-5">
        <h1 class="fw-bold">Analizador de Platillos</h1>
        <h5>Pega una URL de imagen y obtén la clasificación del platillo</p>
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-8">

            <div class="card shadow-lg border-0 rounded-4" style="background:black;">
                <div class="card-body p-5 text-light">

                    <form action="/analizarImagen" method="POST">
                        <h5 class="form-label fw-semibold">URL de la imagen</h5>
                        <input type="text" id="imagen" name="imagen" 
                               class="form-control form-control-lg mb-4 rounded-3" 
                               placeholder="Pega aca la URL de tu imagen" required>

                        <div class="d-grid">
                            <button class="btn btn-light fw-semibold rounded-3" type="submit">
                                Analizar Platillo
                            </button>
                        </div>
                    </form>

                    {% if error %}
                        <div class="alert alert-danger mt-4">{{ error }}</div>
                    {% endif %}

                </div>
            </div>

            {% if imagenAnali %}
            <div class="card shadow-lg border-0 rounded-4 mt-5">
                <div class="card-body p-4">

                    <h3 class="fw-bold mb-3">Resultados del análisis</h3>
                    <p class="text-muted">Los resultados pueden llegar a fallar dependiendo de la imagen</p>

                        <div class="mt-4">
                            <h5 class="fw-semibold">Platillo detectado</h5>
                            <p class="fs-4">{{ imagenAnali.category.name }}</p>
                        </div>

                    <div class="mt-4">
                        <h5 class="fw-semibold mb-3">Nutricion calculada estimada(puede fallar)</h5>

                        <div>
                            <h6 class="d-flex justify-content-between">
                                <h5>Calorías</h5>
                                <h6>{{ imagenAnali.nutrition.calories.value }}</h6>
                            </h6>
                            <h6 class="d-flex justify-content-between">
                                <h5>Grasas</h5>
                                <h6>{{ imagenAnali.nutrition.fat.value }}</h6>
                            </h6>
                            <h6 class="d-flex justify-content-between">
                                <h5>Proteínas</h5>
                                <h6>{{ imagenAnali.nutrition.protein.value }}</h6>
                            </h6>
                            <h6 class="d-flex justify-content-between">
                                <h5>Carbohidratos</h5>
                                <h6>{{ imagenAnali.nutrition.carbs.value }}</h6>
                            </h6>
                        </div>
                    </div>

                </div>
            </div>
            {% endif %}

        </div>
    </div>

</div>

{% endblock main %}

