{% extends "base.html" %}
{% block main %}

<div class="mt-5 mb-5 text-center">
    <h1>Analizador de Platillos</h1>
    <p>Pega una URL de imagen y obtén la clasificación del platillo.</p>
</div>

<div class="mx-5 rounded-4 p-5 row align-items-center shadow" style="background-color: black;">
    <div class="col-7 text-light">

        <form action="/analizarImagen" method="POST" class="mt-3">
            <input type="text" id="imagen" name="imagen" class="form-control mb-3" placeholder="Pegar aqui la URL de tu imagen" required>

            <button class="btn btn-light fw-semibold mt-2" type="submit"> Analizar Platillo </button>
        </form>

        {% if error %}
            <div class="alert alert-danger mt-4">{{ error }}</div>
        {% endif %}

        {% if imagenAnali %}
        <div class="container mt-5 text-light">

            <h1>Resultado del análisis</h1>
        </h6>Los resultados pueden llegar a</h6>
            {% if imagenAnali.get("category") %}
                <h1>Platillo detectado
                    <h4>{{ imagenAnali.category.name }}</h4>
                </h1>
            {% endif %}


            {% if imagenAnali.nutrition %}
                <h3>Nutrición estimada:</h3>
                <h5>Calorias {{ imagenAnali.nutrition.calories.value }}</h5>
                <h5>Grasa {{ imagenAnali.nutrition.fat.value }}</h5>
                <h5>Proteína {{ imagenAnali.nutrition.protein.value }}</h5>
                <h5>Carbohidratos {{ imagenAnali.nutrition.carbs.value }}</h5>
            {% endif %}

        </div>
        {% endif %}
    </div>
</div>

{% endblock main %}
