{% extends 'base.html' %}

{% block main %}
<div class="pt-2">
    <nav class="nav justify-content-evenly py-3 mt-5" style="background-color: rgb(94, 71, 57);">
        <a href="/recetas" class="nav-item text-light text-decoration-none fw-semibold fs-4">Recetas</a>
        <a href="/ingredientes" class="nav-item text-light text-decoration-none fw-semibold fs-4">Ingredientes</a>
        <a href="/productos" class="nav-item text-light text-decoration-none fw-semibold fs-4">Productos</a>
        <a href="/menus" class="nav-item text-light text-decoration-none fw-semibold fs-4">Menus</a>
    </nav>

    <div class="mx-5 p-5">
        <h5 class="text-center mb-5">Nutridato del Dia 💡: {{ nutridato }}</h5>
        <div class="text-center">
            <h3>
                {% if cumple %}
                Feliz cumpleaños,
                {% else %}
                    {% if session.get("genero") %}
                        {% if session.get("genero") == "5" %}
                        Bienvenido,
                        {% elif session.get("genero") == "-161" %}
                        Bienvenida,
                        {% endif %}
                    {% endif %}
                {% endif %}

                {{ session.get("nombre") }}! {% if not cumple %}👋{% else %}🎉{% endif %}
            </h3>

            <h5>¿Que haras hoy?</h5>
        </div>

        <div class="m-5">
            <div class="d-flex flex-row">
                <h1>Recetas</h1>
                <a href="/recetas" class="ms-3 text-body-tertiary text-decoration-none fs-2">></a>
            </div>
        </div>

        <div class="m-5">
            <div class="d-flex flex-row">
                <h1>Ingredientes</h1>
                <a href="/ingredientes" class="ms-3 text-body-tertiary text-decoration-none fs-2">></a>
            </div>
        </div>

        <div class="m-5">
            <div class="d-flex flex-row">
                <h1>Productos</h1>
                <a href="/productos" class="ms-3 text-body-tertiary text-decoration-none fs-2">></a>
            </div>
        </div>

        <div class="m-5">
            <div class="d-flex flex-row">
                <h1>Menus</h1>
                <a href="/menus" class="ms-3 text-body-tertiary text-decoration-none fs-2">></a>
            </div>
        </div>
    </div>
</div>
{% endblock main %}