{% extends 'base.html' %}

{% block main %}
<div class="pt-5">
    {% block nav %}
    {% endblock nav %}

    <div class="mx-5 p-5">
        <div class="mx-5 mb-5 px-4 py-3 rounded-4" style="background-color: rgb(94, 71, 57);">
            <h5 class="text-light text-center">Nutridato del Dia 💡: {{ nutridato["text"] }}</h5>
        </div>

        <div class="text-center">
            <h3>
                {% if cumple %}
                Feliz cumpleaños,
                {% else %}
                {% if session.get("genero") %}
                {% if session.get("genero") == "H" %}
                Bienvenido,
                {% elif session.get("genero") == "M" %}
                Bienvenida,
                {% endif %}
                {% endif %}
                {% endif %}

                {{ session.get("nombre") }}! {% if not cumple %}👋{% else %}🎉{% endif %}
            </h3>

            <h5>¿Que harás hoy?</h5>
        </div>

        <div class="m-5 pt-4">
            <div class="d-flex flex-row">
                <h1>Buscar Recetas</h1>
                <a href="/recetas" class="ms-3 text-body-tertiary text-decoration-none fs-2">></a>
            </div>

            <div class="mt-4 d-flex flex-row align-items-center">
                <img src="static/img/recetas.jpg" style="width: 300px;">

                <div class="ms-5">
                    <p class="fs-5">¿No sabes que desayunar, almorzar, comer o cenar? Explora nuestra variedad de
                        recetas saludables y deliciosas adaptadas a tus necesidades nutricionales. Encuentra inspiración
                        para cada comida del día y descubre nuevos sabores y platillos que te ayudarán a mantener una
                        dieta equilibrada a gusto.</p>

                    <a href="/recetas/0">
                        <button class="btn text-light fw-semibold fs-5"
                            style="background-color: rgb(140, 95, 65);">Entrar</button>
                    </a>
                </div>
            </div>
        </div>

        <div class="m-5 pt-5">
            <div class="d-flex flex-row">
                <h1>Buscar Platillos de Menus</h1>
                <a href="/menus" class="ms-3 text-body-tertiary text-decoration-none fs-2">></a>
            </div>

            <div class="mt-4 d-flex flex-row align-items-center">
                <img src="static/img/menus.jpg" style="width: 500px;">

                <div class="ms-5">
                    <p class="fs-5">¿Estas fuera de casa y no sabes que comer? Explora una variedad de
                        platillos de menus de diferentes restaurantes y encuentra tu siguiente platillo favorito.
                        Encuentra diversas cadenas de comida y franquicias en base a tus necesidades, sin la
                        necesidad de cocinarlo tu mismo.</p>

                    <a href="/menus">
                        <button class="btn text-light fw-semibold fs-5"
                            style="background-color: rgb(140, 95, 65);">Entrar</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}