{% extends 'inicio.html' %}

{% block body %}
<div>
    <div class="row bg-success-subtle p-5" style="height: 565px;">
        <div class="col">
            <h1 class="col fw-bold">Confianza en cada bocado, buena alimentacion a tu lado</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque earum debitis nostrum expedita deserunt ipsa officia? Nemo ea voluptates cum ipsam possimus. Aspernatur nisi voluptas accusantium, in quae ab excepturi!</p>
        </div>
        <img src="static/img/sinImagen.png" class="col">
    </div>
</div>
{% endblock body %}