{% extends "base.html" %}
{% block main %}

<div class="container mt-4 p-4">
    <div class="card shadow p-4">


        {% if not menu %}
          <h4>No se udo cargar el menu</h4>
        {% else %}

            <h2 class="fw-bold mb-4">{{ menu.title }}</h2>

                <img src="{{ menu.image }}" class="img-fluid rounded mb-4" style="max-width: 400px;">
            <div class="row">
                    <div class="col-md-6 mb-3">
                        <h5>Restaurante</h5>
                        <p class="fs-5">{{ menu.restaurantChain }}</p>
                    </div>
                    <div class="col-md-6 mb-3">
                        <h5>Porciones</h5>
                        <h6 class="fs-5">
                            {{ menu.servings.number }}
                        </h6>
                    </div>
            </div>

<div class="mb-4">
    <h4>Informacion Nutricional</h4>

    <div class="p-3">
        <h6>Calorias: {{ menu.nutrition.calories }} kcal</h6>
        <h6>Grasas: {{ menu.nutrition.fat }}</h6>
        <h6>Proteinas: {{ menu.nutrition.protein }}</h6>
        <h6>Carbohidratos: {{ menu.nutrition.carbs }}</h6>
    </div>
<a href="/menus" class="btn" style="background-color: rgb(94, 71, 57); color:white;"> Volver a buscar</a>
</div>
{% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}
