{% extends "base.html" %}
{% block main %}

<div class="container mt-4 p-4">
    <h1 class="text-center mb-4">Buscar menus</h1>

    <form action="/buscarmenus" method="post" class="mb-4">
        <div class="input-group">
            <input type="text" name="search" class="form-control" placeholder="Buscar menus ejemplo: pizza, burger, salad" required>
            <button type="submit" class="btn" style="background-color: rgb(140, 95, 65); color: white;">  Buscar
            </button>
        </div>
    </form>

    <div class="text-center">
        <p>Busca menus de restaurantes como pizza, hamburguesas, ensaladas</p>
    </div>
</div>

{% endblock %}
