{% extends "base.html" %}

{% block main %}
<div class="m-5 mb-0 p-5">
    <div class="mx-5">
        <div class="card rounded-0 shadow">
            <div class="card-body row">
                <img src="{{ menu.image }}" class="col-5" style="width: 45%;">

                <div class="col-6 align-content-center ms-5">
                    <p>{{ menu.restaurantChain }}</p>
                    <h3 class="mb-3 fw-bold">{{ menu.title }}</h3>
                </div>
 </div>

        <table class="mt-5 border" style="width: 100%;">
            <thead>
                <th class="bg-dark text-light text-center fw-bold py-2">Calorías (kcal)</th>
                <th class="bg-dark text-light text-center fw-bold py-2">Grasas (g)</th>
                <th class="bg-dark text-light text-center fw-bold py-2">Grasas Saturadas (g)</th>
                <th class="bg-dark text-light text-center fw-bold py-2">Carbohidratos (g)</th>
                <th class="bg-dark text-light text-center fw-bold py-2">Carbohidratos Netos (g)</th>
                <th class="bg-dark text-light text-center fw-bold py-2">Azucar (g)</th>
                <th class="bg-dark text-light text-center fw-bold py-2">Colesterol (mg)</th>
                <th class="bg-dark text-light text-center fw-bold py-2">Sodio (mg)</th>
                <th class="bg-dark text-light text-center fw-bold py-2">Alcohol (g)</th>
                <th class="bg-dark text-light text-center fw-bold py-2">% Alcohol</th>
                <th class="bg-dark text-light text-center fw-bold py-2">Proteina (g)</th>
            </thead>
<thead>
                {% for amount in menu.nutritionalInfo %}
                <th class="text-center fw-semibold fs-5">{{ amount }}</th>
                {% endfor %}
            </thead>
        </table>
{% endblock main %}

