{% extends "base.html" %}

{% block main %}
<div class="m-5 mb-0 p-5">
    <div class="mx-5">
        <div class="card rounded-0 shadow">
            <div class="card-body row">
                <div class="col-5">
                    <img src="{{ receta.image }}" style="width: 100%;">

                    <div class="mt-1 align-content-center">
                        <div class="d-flex flex-wrap justify-content-center">
                            {% for diet in receta.diets %}
                            <span class="flex-fill badge m-1 rounded-1 text-light text-capitalize fw-semibold fs-5"
                                style="background-color: {{ color[diet] }};">
                                {{ diet }}
                            </span>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="col-7 align-content-center">
                    <h3 class="mb-3 fw-bold">{{ receta.title }}</h3>
                    <p>{{ receta.summary | safe }}</p>
                </div>
            </div>
        </div>

        <table class="mt-5 border" style="width: 100%;">
            <thead>
                <th class="bg-dark text-light text-center fw-bold py-2">Calorías (kcal)</th>
                <th class="bg-dark text-light text-center fw-bold py-2">Grasas (g)</th>
                <th class="bg-dark text-light text-center fw-bold py-2">Grasas Saturadas (g)</th>
                <th class="bg-dark text-light text-center fw-bold py-2">Carbohidratos (g)</th>
                <th class="bg-dark text-light text-center fw-bold py-2">Carbohidratos Netos (g)</th>
                <th class="bg-dark text-light text-center fw-bold py-2">Azucar (g)</th>
                <th class="bg-dark text-light text-center fw-bold py-2">Colesterol (mg)</th>
                <th class="bg-dark text-light text-center fw-bold py-2">Sodio (mg)</th>
                <th class="bg-dark text-light text-center fw-bold py-2">Alcohol (g)</th>
                <th class="bg-dark text-light text-center fw-bold py-2">% Alcohol</th>
                <th class="bg-dark text-light text-center fw-bold py-2">Proteina (g)</th>
            </thead>

            <thead>
                {% for amount in receta.nutritionalInfo %}
                <th class="text-center fw-semibold fs-5">{{ amount }}</th>
                {% endfor %}
            </thead>
        </table>

        <div class="mt-5">
            <h4 class="fw-bold">Ingredientes</h4>
            
            <div class="mt-2">
                {% for i in ingredients %}
                    <p class="ms-3 fs-5">{{ i }}</p>
                {% endfor %}
            </div>
        </div>

        <div class="mt-5">
            <h4 class="fw-bold">Instrucciones</h4>
            <p class="mt-2 fs-5">{{ receta.instructions | safe }}</p>
        </div>
    </div>
</div>
{% endblock main %}