{% extends "base.html" %}

{% block main %}
<nav class="nav justify-content-evenly pt-4 pb-3 mt-5" style="background-color: rgb(94, 71, 57);">
    <a href="/recetas/0" class="nav-item text-light text-decoration-none fw-semibold fs-4">Recetas</a>
    <a href="/menus" class="nav-item text-light text-decoration-none fw-semibold fs-4">Menus</a>
</nav>

<div class="m-5 mt-2 p-5">
    <h1 class="text-center">Recetas</h1>
    <div class="mt-3 mb-5 mx-1 row">
        {% for receta in recetas %}
        <div class="col-4 card m-2 p-0" style="width: 265px;">
            <img src="{{ receta.image }}" class="card-img-top">

            <div class="card-body m-2 mb-3">
                <h5 class="card-title">{{ receta.title }}</h5>

                <form action="/verReceta" method="post">
                    <input type="number" name="idReceta" value="{{ receta.id }}" hidden>
                    <button type="submit" class="btn mt-3 text-center text-light fw-semibold"
                        style="background-color: rgb(140, 95, 65);">Ver receta</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="mt-3 d-flex justify-content-center">
        <nav>
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link px-3 py-0 text-center text-light text-decoration-none fw-bold fs-2" href="{{ url_for('anteriorPag', offset=offset) }}" 
                        style="background-color: rgb(94, 71, 57);" {% if not offset > 0 %}disabled{% endif %}><</a>
                </li>

                <li class="page-item">
                    <a class="page-link px-3 py-0 text-center text-light text-decoration-none fw-bold fs-2" href="{{ url_for('siguientePag', offset=offset) }}"
                        style="background-color: rgb(94, 71, 57);"  {% if not offset < 5224 %}disabled{% endif %}>></a>
                </li>
            </ul>
        </nav>
    </div>
</div>
{% endblock main %}