{% extends 'base.html' %}

{% block main %}
<div class="m-5 p-5">
    <div class="mt-5">
        <h3 class="text-center">Mi Refrigerador</h3>

        <a href="/ingredientesProductos" class="btn w-100">Agregar ingredientes y productos</a>
        <div class="d-flex">
            {% for elem in refri %}
                <div class="card m-2 px-2 py-3">
                    <div class="card-body">
                        <p class="text-center fs-4 fw-semibold">{{ elem["nombre"] }}</p>
                        <p class="text-center fs-5">Cantidad: {{ elem["cantidad"] }}</p>

                        <div class="row">
                            <button class="col ms-2 btn btn-success py-2 text-center fs-3 fw-semibold">+</button>
                            <button class="col me-2 btn btn-danger py-2 text-center fs-3 fw-semibold">-</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock main %}