<!DOCTYPE html>
<html lang="es-mx">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NutriShelf</title>
    <link rel="icon" type="image/png" href="static/img/icon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>
    <main>
        <div class="m-5 p-5">
            <div class="card">
                <div class="card-body">
                    <h1 class="py-3 text-center border-bottom">Inicio de Sesión</h1>
                    <form action="/iniciandoSesion" method="post">
                        <div>
                            <div class="mb-3">
                                <input type="email" class="form-control" name="correo" placeholder="Correo Electronico">
                            </div>

                            <div>
                                <input type="password" class="form-control" name="passw" placeholder="Contraseña">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>